    .third{
    padding: 2rem;
}
.homepage2 .third{
    padding: 1rem;
    justify-content: end;
}
.padding-30{
    padding: 30px 30px;
}
.colorback {
    background: #FFFFFF;
    border: 1px solid #E3E6EB;
    box-sizing: border-box;
    border-radius: 8px
}

.third .row {
    border-radius: 10px;
    padding: 15px;
}

.active {
    left: 0;
}
.image{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border:1px solid #EBF2F8;
    background-color: rgba(0, 0, 255, 0.43);
}
.margins{
    padding: 24px;
}
.margins .col-md-1{
    padding: 0;
    margin-right: 12px;
}


h4.kitchen {
    padding: 0;
    margin: 0 0 4px 0;
    font-family: Montserrat , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #3A3C40;
}
.kitchen-button{
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(40, 41, 61, 0.08);
    border-radius: 4px;
    font-family: 'Montserrat',sans-serif;
    padding: 12px 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #82868C;

}
.kitchen-button:hover{
    background: #2940D3;
    color: #FFFFFF;
}
.kitchen-button:active{
    background: #081565;
    color: #FFFFFF;
}
p.kitchen {
    font-family: Montserrat , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #82868C;
    margin: 0;
    padding: 0;
}
h4.jami {
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    color: #82868C;
}
.homepage2 h4.jami{
    font-size: 12px;
}



p.raqam {
    margin-top: 5px;
    font-size: 22px;
    font-weight: bold;
}
.homepage2 p.raqam{
    font-weight: bold;
    font-size: 18px;
}
.homepage2 .foizsvg img{
    width: 20px;
    height: 20px;
}




.col-3:nth-child(1) div .row .col-12 .row .col-8 h4.foiz.colorpale {
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FF6B93;
    margin-top: 1px;
}

.col-3:nth-child(2) div .row .col-12 .row .col-8 h4.foiz.colorpale {
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #0044FF;
    margin-top: 1px;

}
.apexcharts-toolbar{
    display: none;
}
.col-3:nth-child(3) div .row .col-12 .row .col-8 h4.foiz.colorpale {

    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    margin-top: 1px;


    color: #FF9777;
}

.col-3:nth-child(4) div .row .col-12 .row .col-8 h4.foiz.colorpale {

    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    margin-top: 1px;

    color: #2CC5BD;
}
.homepage2 .col-3 div .row .col-12 .row .col-8  h4.foiz.colorpale{
    font-size: 12px;
}


div.col-3.margin, div.col-4.margin {
    margin-left: -10px;
    margin-right: -10px;
}
.gap{
    row-gap: 5rem;
}

div.col-12.margin {
    margin-bottom: -10px;
}
.diagramm-text{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */


    color: #3A3C40;
}

.chizma div:nth-child(1) span {
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: darkblue;
    margin-right: 10px;
}

.chizma div:nth-child(2) span {
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: sienna;
    margin-right: 10px;
}

.chizma div p {
    margin: 0;
    padding: 0 0 2px 0;
    font-size: 12px;
}

.selects-style{
    background: #F5F5F7;
    padding: 4px 14px 0 14px;
    border-radius: 4px;

}
.homepage2 .selects-style{
    padding: 4px;
    margin-bottom: 10px;

}

.selects {
    padding-right:5px;
    background: #F5F5F7;
    justify-content: start;
    border: none;
    box-shadow: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #0044FF;
    align-items: center;
    text-align: center;
    outline: none;
    border: 0;
}
.selects .options{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: #F5F5F7;
    padding: 25px 15px;
    border-radius: 4px;
}


.btn-nuqta{
    margin-top: -16px;
}
.nuqta{
    color: #82868C;
    letter-spacing: -1px;
    margin-left: 25px;
    background: rgba(0, 0, 0, 0);
    font-size: 35px;
    align-items: center;
    padding: 0;
}
.homepage2 .nuqta{
    font-size: 30px;
}

.line {
    display: flex;
    background-color: rgba(169, 169, 169, 0.33);
    width: 100%;
    height: 1px;
}

.container .row:nth-child(3) .col-12 .row {
    margin-bottom: -10px;
}

.diagramm .col-4:nth-child(1) div .row .col-6 h4 {
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #5A6FE4;
}
.diagramm .col-4 div .row .col-6 p {
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #82868C;

}
.diagramm-text-one{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    font-size: 18px;
    line-height: 32px;
    color: #3A3C40;
}
.homepage2 .third .container-fluid .row .col-4 .p-2 .row .col-7 .diagramm-text-one{
    font-size: 22px;
}
.homepage2 .third .container-fluid .row .col-4 .p-2 .row .col-6 .diagramm-text-one{
     font-size: 22px;
 }
.homepage2 .third .container-fluid .row .col-4 .p-2 .row .col-5  .diagramm-text-one{
    font-size: 18px;
}
.homepage2 .third .container-fluid .row .col-md-6 div .row .col-6  .diagramm-text-one{
    font-size: 15px;
}
.diagramm .col-4:nth-child(2) div .row .col-6 h4 {
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 4px;

    color: #FF9777;

}
.foizp{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #82868C;
    margin : 0 -12px 0 5px;
    padding: 0;
}
.spandiagram span{
    background-color: rgba(211, 211, 211, 0.55);
}
.spandiagram{
    position: relative;
}
.spandiagram strong{
    position: absolute;
    top: -20px;
    color: gray;
    font-size: 14px;
    align-items: baseline;
    display: none;
}
.spandiagram1:nth-child(1)  .spandiagram:nth-child(1):hover span{
    background-color: #0044FF;
}
.spandiagram1:nth-child(1)  .spandiagram:nth-child(2):hover span{
    background-color: #0044FF;
}
.spandiagram1:nth-child(1)  .spandiagram:nth-child(3):hover span{
    background-color: #0044FF;
}
.spandiagram1:nth-child(1)  .spandiagram:nth-child(4):hover span{
     background-color: #0044FF;
 }
.spandiagram1:nth-child(1)  .spandiagram:nth-child(5):hover span{
      background-color: #0044FF;
  }
.spandiagram1:nth-child(1)  .spandiagram:nth-child(6):hover span{
       background-color: #0044FF;
   }
.spandiagram1:nth-child(1)  .spandiagram:nth-child(7):hover span{
        background-color: #0044FF;}

.spandiagram1:nth-child(1)  .spandiagram:nth-child(1):hover strong{
    display: flex;
}
 .spandiagram1:nth-child(1)  .spandiagram:nth-child(2):hover strong{
     display: flex;
 }.spandiagram1:nth-child(1)  .spandiagram:nth-child(3):hover strong{
      display: flex;
  }.spandiagram1:nth-child(1)  .spandiagram:nth-child(4):hover strong{
       display: flex;
   }.spandiagram1:nth-child(1)  .spandiagram:nth-child(5):hover strong{
        display: flex;
    }.spandiagram1:nth-child(1)  .spandiagram:nth-child(6):hover strong{
         display: flex;
     }.spandiagram1:nth-child(1)  .spandiagram:nth-child(7):hover strong{
          display: flex;
      }
.spandiagram1:nth-child(2)  .spandiagram:nth-child(1):hover span{
    background-color: #ff9777;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(2):hover span{
    background-color: #ff9777;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(3):hover span{
    background-color: #ff9777;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(4):hover span{
    background-color: #ff9777;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(5):hover span{
    background-color: #ff9777;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(6):hover span{
    background-color: #ff9777;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(7):hover span{
    background-color: #ff9777;}

.spandiagram1:nth-child(2)  .spandiagram:nth-child(1):hover strong{
    display: flex;
}

.spandiagram1:nth-child(2)  .spandiagram:nth-child(2):hover strong{
    display: flex;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(3):hover strong{
    display: flex;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(4):hover strong{
    display: flex;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(5):hover strong{
    display: flex;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(6):hover strong{
    display: flex;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(7):hover strong{
    display: flex;
}
.spandiagram1:nth-child(2)  .spandiagram:nth-child(7):hover strong{
    display: flex;
}
.bar-chart h4{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */
    margin:0 12px 6px 0  ;
    padding: 0;
    color: #82868C;

    opacity: 0.8;
}
.bar-chart p{
    padding: 0;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin:0 0 6px 0;
    color: #3A3C40;

}
.thead-padding-left{
    padding-left: 18px !important;
}
.thead-padding-right{
    padding-right: 24px !important;
}
.th-text{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3A3C40;
}
img.search{
    width: 24px;
    height: 24px;
    align-items: center;
}
input.search{
    width: 90%;
    background-color: transparent;
}
input.search::placeholder{
    font-size: 16px;
}
.input-group{
    width: 100%;
}

.card1{
    display: flex;
}

@media (max-width: 425.9px){
    
}
