#home{
    position: relative;
}
.displaynone{
    display: none;
}
.displayflex{
    display: block;
}
.home-body{
    width: 100%;
    display: flex;
    align-items: center;
}
.half-2{
    margin-top: 96px;
    width: 50%;
    border: 2px solid #0044FF;
}
.input{
    position: relative;
}
.input img{
    position: absolute;
    top: 30%;
    right: 5%;
    cursor: pointer;
}
.home-img{
    padding: 96px 40px 0 135px;
}
.home-img img{
    margin-bottom: 32px;
}
.home-text h4{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 16px;
    /* identical to box height */


    color: #000000;

}
.home-text p{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */


    color: #000000;
}
.home-enter{
padding: 0px 134px 0 89px;
}
.kirish-text h5{
    font-family: "Montserrat" ,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 8px;
}
.kirish-text p{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}
.kirish-input input[type='text'] , .kirish-input input[type='password']{
    background: #FFFFFF;
    border: 1px solid #A1AFCA;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px;
}
.kirish-input input::placeholder{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #A1AFCA;
}

.kirish-input button{
    background: #0044FF;
    border-radius: 8px;
    padding: 16px 100px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
}
.kirish-checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.kirish-checkbox input[type=checkbox]{
  display: none;
}
.kirish-checkbox input[type=checkbox]:checked + label svg{
    fill: #0044ff;
    stroke: #0044FF;
    border: 0;
}

.kirish-checkbox label{
    margin-left: 2px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.kirish-checkbox label  svg{
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 8px;
    fill: #FFFFFF;
    border: 2px solid #A1AFCA;
}
.kirish-checkbox label  svg path{
    width: 100%;
}


.kirish-checkbox h4{
    margin-top: 10px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #A1AFCA;
}
.kirish-checkbox a{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #0044FF;

}
.home-active{
    position: relative;
    z-index: 2;
}

