.ht{
    margin: 0 auto;
    padding: 0px 4% 0px 4%;
}
@media (max-width: 425.9px) {
    .ht .btnLogin{
       font-size: 12px; 
       padding: 4px;
    }
    .ht .btnSaqlash{
       font-size: 12px; 
    }
      
}