.header-narx{
    width: 40%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
}

.colorback {
    background: #FFFFFF;
    border: 1px solid #E3E6EB;
    box-sizing: border-box;
    border-radius: 8px
}
.header-menu a{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.header-narx select{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    border: none;
    outline: none;
}
.header-narx button{
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 6px 24px;
    font-family: "Montserrat" ,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid  #0044FF ;
    text-align: center;
}
.header__ .image__{
    align-items: center;
    display: flex;
}

.header__ .image__ img{
    width: 188px;
    height: 40px;
}

.header__{;
    background-color: #ffffff;
    position: fixed;
    z-index: 10000;
    padding: 28px 135px 28px 135px;
    width: 100%;
}
.homebody{
    display: flex;
    justify-content: space-between;
    width: 100%;
}