:root{
    --color:"aqua"
}

*{

}
body{
}
.app-css{
    border: 1px solid red;
    width: 100%;
    display: flex;
    transition: 1s linear;
    /* men kodni gitdan ozgartirdim */
}
.display-none{
    display: none;
}
.homebody{
    width: 100%;
    transition: 0.5s linear;
}

.homepage1{
    transition: 0.5s linear;
    width: 18%;
    }
.homepage2 {
    transition: 0.5s linear;
    width: 82%;
}
.homepageone{
    transition: 1s linear;
    width: 0;
}
.homepagetwo{
    transition: 1s linear;
    width: 100%;
}
