:root{
    --color:"aqua"
}

*{

}
body{
}
.app-css{
    width: 100%;
    display: flex;
    transition: 1s linear;
}
.display-none{
    display: none;
}
.homebody{
    width: 100%;
}

.homepage1{
    width: 16.5%;
    }
.homepage2 {
    transform: translateX();
    width: 82%;
}
.homepageone{
    width: 0;
}
.homepagetwo{
    width: 100%;
}
@media screen and (max-width: 425.9px){
}
